[user]
	email = santiago@zarate.co
	name = Santiago Zarate
	signingkey = 7005DF57B4499E20
[commit]
	gpgSign = true

[includeIf "gitdir:**/suse.com/**"]
	    path = .suse.gitconfig
[init]
	templatedir = ~/.git_templates/template
