[user]
	email = santiago@zarate.co
	name = Santiago Zarate
	signingkey = /home/foursixnine/.ssh/id_ed25519.pub
[commit]
	gpgSign = true

[includeIf "gitdir:**/opensuse/**"]
	    path = .config/git/suse.gitconfig
[includeIf "gitdir:**/suse.com/**"]
	    path = .config/git/suse.gitconfig
[init]
	templatedir = ~/.config/git/git_templates/template
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[gpg]
	format = ssh
