# no db file to read /run/udev/data/+leds:smc::kbd_backlight: No such file or directory
# ACTION=add
# DEVPATH="/devices/platform/applesmc.768/subsystem/devices/applesmc.768/leds/smc::kbd_backlight"
# SUBSYSTEM=leds
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="/devices/platform/applesmc.768/subsystem/devices/applesmc.768/leds/smc::kbd_backlight", MODE="0666", RUN+="/bin/chmod a+w /sys/devices/platform/applesmc.768/subsystem/devices/applesmc.768/leds/smc::kbd_backlight/brightness"
